__pycache__/
tmp_trainer
legacy
*.pyc
checkpoints*
slurm
out
wandb/
**results**/
embeddings/
log_submitit/
model_weights/
datasets/
finetuning_unsupervised/
media/
wandb
finetuning_unsupervised
old*
data/